extends ../elements/layout.jade

block title
	title Magnifica :: Home

block content
	include ../elements/promo.jade
	include ../elements/services.jade
	include ../elements/feedbacks.jade
	include ../elements/spin.jade
	include ../elements/contacts.jade
	include ../elements/popup.jade