section#feedbacks.feedbacks
    .center
        h2.feedbacks__heading Отзывы наших клиентов
        .feedbacks__container.clearfix
            div(v-for='feedback in feedbacks').feedbacks__elem
                img(:src='"/files/feedbacks/" + feedback.photo.filename').feedbacks__elem-img
                div(v-cloak).feedbacks__elem-name {{ feedback.name }}
                div(v-cloak).feedbacks__elem-post {{ feedback.post }}
                div(v-html='feedback.text').feedbacks__elem-text