block commonVars
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=1000")
        meta(name='description', content='Клуб красоты "Магнифика" - Салон, Brow Bar, Баребершоп')
        meta(name='keywords', content='клуб салон красоты парикмахерская барбершоп brow bar женский магнифика')
        link(href='img/elem/favicon.png', rel='shortcut icon')
        block title
            title Site :: Page
        block styles
            link(href='css/main.min.css', rel='stylesheet')
    body
        block content
        block scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB1-JMY1jOI2ZD9RFFsy8FNLmNDHz9V_kg')
            script(src='js/vendor.js')
            script(src='js/custom.js')