//- Popups
#popups
    .overlay
    #popup--price-0.popup
        .popup__wrapper.popup__wrapper--small
            a(href='#', title='Закрыть попап').popup__close
            .popup__top
                h2.popup__heading Дамский салон
                p.popup__subheading Цены
            .popup__container.clearfix
                div(v-for='serviceLady in prices.lady').popup__elem
                    p(v-text='serviceLady.title', v-cloak).popup__elem-service
                    p(v-text='serviceLady.cost', v-cloak).popup__elem-cost
    #popup--price-1.popup
        .popup__wrapper.popup__wrapper--small
            a(href='#', title='Закрыть попап').popup__close
            .popup__top
                h2.popup__heading Барбершоп
                p.popup__subheading Цены
            .popup__container.clearfix
                div(v-for='serviceBarbershop in prices.barbershop').popup__elem
                    p(v-text='serviceBarbershop.title', v-cloak).popup__elem-service
                    p(v-text='serviceBarbershop.cost', v-cloak).popup__elem-cost
    #popup--price-2.popup
        .popup__wrapper.popup__wrapper--small
            a(href='#', title='Закрыть попап').popup__close
            .popup__top
                h2.popup__heading Brow Bar
                p.popup__subheading Цены
            .popup__container.clearfix
                div(v-for='serviceBrowBar in prices.browbar').popup__elem
                    p(v-text='serviceBrowBar.title', v-cloak).popup__elem-service
                    p(v-text='serviceBrowBar.cost', v-cloak).popup__elem-cost
    #popup--price-3.popup
        .popup__wrapper.popup__wrapper--small
            a(href='#', title='Закрыть попап').popup__close
            .popup__top
                h2.popup__heading Центр Подологии
                p.popup__subheading Цены
            .popup__container.clearfix
                div(v-for='servicePodology in prices.podology').popup__elem
                    p(v-text='servicePodology.title', v-cloak).popup__elem-service
                    p(v-text='servicePodology.cost', v-cloak).popup__elem-cost