section(v-bind:style='{ backgroundImage: "url(/files/promo/" + promo.background.filename + ")" }')#promo.promo
    .center
        .clearfix
            div(v-html='promo.contacts').promo__contacts
        img(src='/img/elem/promo__info.png').promo__info
#promo__about.promo__about
    p(v-cloak).promo__about-text {{ promo.about }}