section#services.services
    .services__container.clearfix
        div(v-for='(elem, index) in services', v-bind:style='{ backgroundImage: "url(/files/services/" + elem.background.filename + ")" }').services__elem
            .services__elem-circle
                .services__elem-content
                    .services__elem-icon
                        img(:src='"/files/services/" + elem.icon.filename').services__elem-img
                    .services__elem-name клуб красоты магнифика
                    div(v-text='elem.title', v-cloak).services__elem-type
            .services__elem-action
                a(href='#', v-bind:data-win='"popup--price-" + index', v-text='elem.btn').open-popup.services__elem-btn