section#spin.spin
    a(href='#').spin__carousel-arrow.spin__carousel-arrow--prev
    a(href='#').spin__carousel-arrow.spin__carousel-arrow--next
    .carousel.spin__carousel
        div(v-for='photo in photos').spin__carousel-item
            img(:src='"/files/photos/" + photo.photo.filename').spin__carousel-img
            div(v-cloak).spin__carousel-text {{ photo.name }}