/* --- Buttons --- */
.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  &--blue {
    background-color: $main;
    @include transition(background-color, 0.2s, ease);

    &:hover,
    &:focus {
      background-color: $main;
    }
  }

  &--rounded {
    border-radius: 5%;
  }
}