/* --- Contacts section --- */
#contacts__map {
  height: 390px;
  background-color: #f0ede5;
}

.contacts__map-baloon {
  p {
    line-height: 1.5;
    font-family: $font;
    font-size: 14px;
    color: $dark;
  }

  b, strong {
    font-weight: $bold;
  }
}

.footer {
  padding: 50px 0;
  background-color: $dark;
  text-align: center;
  font-family: $font--second;
  font-weight: $reg;
  font-size: 30px;
  color: white;
}