/* --- Feedbacks section --- */
.feedbacks {
  padding-top: 55px;
  padding-bottom: 100px;
  color: $dark;

  &__heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: $font--second;
    font-size: 36px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__elem {
    width: 33.33%;
    padding-left: 50px;
    padding-right: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: sans-serif;

    &-img {
      display: block;
      height: 180px;
      width: 180px;
      border-radius: 50%;
      margin: 0 auto 20px;
    }

    &-name {
      font-size: 20px;
      font-weight: $bold;
    }

    &-post {
      margin-bottom: 15px;
      font-size: 17px;
      color: $muted;
    }

    &-text {
      position: relative;
      font-size: 18px;
      font-weight: $lig;

      &:before {
        content: "\201C";
        position: absolute;
        left: -50px;
        top: -45px;
        font-size: 128px;
        color: #e9e9e9;
      }
    }
  }
}