/* Popup section */
.overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba($dark, 0.5);
	top: 0;
	left: 0;
	z-index: 999;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	color: $dark;
	box-shadow: 0 0 30px 10px rgba(black, 0.1);
	background-color: #f9f9f9;
	z-index: 1000;

	&__wrapper {
		width: 630px;
		position: relative;
		padding: 30px 35px 50px;
		zoom: 1;
	}

	&__close {
		display: block;
		height: 32px;
		width: 32px;
		position: absolute;
		top: 15px;
		right: 10px;
		z-index: 1001;

		&:before,
		&:after {
			content: '';
			display: block;
			height: 3px;
			width: 32px;
			position: absolute;
			top: 9px;
			left: -2px;
			background-color: $dark;
			@include transition(background-color, 0.2s, ease);
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover,
		&:focus {
			&:before,
			&:after {
				background-color: $dark;
			}
		}
	}

	&__top {
		text-align: center;
		text-transform: uppercase;
		font-family: $font--second;
	}

	&__heading {
		font-size: 36px;
	}

	&__subheading {
		font-size: 18px;
	}

	&__elem {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 130px;
		width: 33.33%;
		border-bottom: 1px #ececec solid;
		text-align: center;
		font-family: $font;
		font-size: 18px;
		float: left;

		&:nth-last-child(-n+3) {
			border: none;
		}

		&-service {
			margin-bottom: 3px;
			line-height: 1.33;
			font-weight: $bold;
		}

		&-cost {
			font-weight: $reg;
			font-style: italic;
		}
	}
}
