/* --- Promo section --- */
.promo {
  height: 575px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #4b4641;
  background-size: cover;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &__contacts {
    padding: 10px 16px;
    border: 1px white solid;
    margin: 25px 55px 0 0;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: $font--second;
    font-weight: $lig;
    font-size: 10px;
    float: right;

    p {
      &:first-child { font-size: 12px; }
    }
  }

  &__info {
    display: block;
    margin: 50px auto 0;
  }

  &__about {
    padding: 30px 0 40px;
    background-color: $main;

    &-text {
      max-width: 630px;
      margin: 0 auto;
      line-height: 1;
      text-align: center;
      font-family: $font;
      font-style: italic;
      font-weight: $reg;
      font-size: 18px;
      color: white;
    }
  }
}