/* --- Services section --- */
.services {
  color: $dark;

  &__container {
    height: 1080px;
    overflow: hidden;

    @media screen and (min-width: 1400px) {
      height: 570px;
    }
  }

  &__elem {
    display: block;
    width: 50%;
    height: 540px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;

    @media screen and (min-width: 1400px) {
      height: 100%;
      width: 25%;
    }

    &-top {
      position: relative;
    }

    &-bg {
      display: block;
      height: 100%;
      width: 100%;
      /* position: absolute;
      top: 0;
      left: 0; */

      @media only screen and (max-width: 1000px) {
      	width: auto;
      }
    }

    &-circle {
      display: block;
      height: 235px;
      width: 235px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: white;
      transform: translate(-50%, -50%);
      z-index: 3;
    }

    &-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:after {
        content: '';
        display: block;
        height: 25px;
        width: 100px;
        border-top: 1px $dark solid;
        margin: 8px auto 0;
        background-image: url(../img/elem/services__after.png);
        background-position: center bottom;
        background-repeat: no-repeat;
      }
    }

    &-icon {
      height: 33px;
      width: 55px;
      position: relative;
      margin: 0 auto 2px;
      text-align: center;
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-name {
      font-size: 14px;
      font-variant: small-caps;
      letter-spacing: 1px;
    }

    &-type {
      text-transform: uppercase;
      font-size: 26px;
      font-family: $font--second;
      letter-spacing: 3px;
    }

    &-action {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }

    &-btn {
      display: inline-block;
      padding: 10px 22px;
      border: 1px white solid;
      margin: 60px auto 30px;
      text-decoration: none;
      font-family: $font--second;
      font-weight: $reg;
      font-size: 18px;
      color: white;

      @media screen and (min-width: 1400px) {
        margin: 30px auto;
      }

      &:hover,
      &:focus {
        color: white;
      }
    }
  }
}