/* --- Carousel section --- */
.spin {
	position: relative;

	&__carousel {
		background-color: black;

		&-item {
			max-height: 480px;
			position: relative;
		}

		&-img {
			display: block;
		}

		&-text {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px 20px;
			text-align: center;
			font-size: 12px;
			color: white;
			background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.34) 53%, rgba(0, 0, 0, 0.34) 99%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(53%,rgba(0, 0, 0, 0.34)), color-stop(99%,rgba(0, 0, 0, 0.34)));
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.34) 53%,rgba(0, 0, 0, 0.34) 99%);
			background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.34) 53%,rgba(0, 0, 0, 0.34) 99%);
			background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.34) 53%,rgba(0, 0, 0, 0.34) 99%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.34) 53%,rgba(0, 0, 0, 0.34) 99%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#57000000',GradientType=0 );
		}

		&-arrow {
			display: block;
			height: 110px;
			width: 55px;
			position: absolute;
			top: calc(50% - 55px);
			background-image: url('../img/elem/shop__arrows.png');
			background-repeat: no-repeat;
			z-index: 3;

			&--prev {
				left: calc(50% - 310px);
				background-position: center left;
			}

			&--next {
				right: calc(50% - 310px);
				background-position: center right;
			}
		}
	}
}