/* --- Fonts --- */
@font-face {
  font-family: 'Octava';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Octava/Octava-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Octava';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Octava/Octava-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Octava';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Octava/Octava-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Octava';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Octava/Octava-Bold-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Oranienbaum/Oranienbaum_0.ttf") format("truetype"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  margin: 0;
  padding: 0; }

html * {
  max-height: 1000000px; }

/* --- Animations --- */
.animated {
  visibility: hidden; }

.visible {
  visibility: visible !important; }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: 0.0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  visibility: visible !important; }

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0.0; } }

.menuBlink {
  animation-name: menuBlink;
  -webkit-animation-name: menuBlink;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  visibility: visible !important; }

@keyframes menuBlink {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 0.0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%); } }

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important; }

@keyframes bigEntrance {
  0% {
    transform: scale(0.5);
    opacity: 0.5; }
  30% {
    transform: scale(1.03);
    opacity: 1 !important; }
  45% {
    transform: scale(0.98);
    opacity: 1 !important; }
  60% {
    transform: scale(1.01);
    opacity: 1 !important; }
  100% {
    transform: scale(1);
    opacity: 1 !important; } }

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideLeft {
  0% {
    transform: translateX(10%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1 !important; } }

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-10%); }
  100% {
    transform: translateX(0%);
    opacity: 1 !important; } }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.4;
  transition: opacity 0.2s ease; }

.owl-carousel .owl-item.center {
  opacity: 1; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

.owl-dot {
  display: inline-block;
  height: 0.625em;
  width: 0.625em;
  margin: 0 0.625em 0.0625em 0;
  border: 0.125em #181818 solid;
  border-radius: 50%;
  cursor: pointer; }
  .owl-dot:last-child {
    margin-right: 0; }
  .owl-dot.active {
    background-color: #181818; }

.owl-dots {
  padding: 10px 0;
  background-color: white;
  text-align: center; }

body, html {
  color: white;
  font-family: "Octava", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  background-color: #fff; }

* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.center:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.center {
  width: 1000px;
  position: relative;
  padding: 0;
  margin: 0 auto; }

input {
  outline: none; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

[v-cloak] {
  display: none; }

/* --- Buttons --- */
.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }
  .btn--blue {
    background-color: #fe7071;
    transition: background-color 0.2s ease; }
    .btn--blue:hover, .btn--blue:focus {
      background-color: #fe7071; }
  .btn--rounded {
    border-radius: 5%; }

/* Popup section */
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(24, 24, 24, 0.5);
  top: 0;
  left: 0;
  z-index: 999; }

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #181818;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  z-index: 1000; }
  .popup__wrapper {
    width: 630px;
    position: relative;
    padding: 30px 35px 50px;
    zoom: 1; }
  .popup__close {
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1001; }
    .popup__close:before, .popup__close:after {
      content: '';
      display: block;
      height: 3px;
      width: 32px;
      position: absolute;
      top: 9px;
      left: -2px;
      background-color: #181818;
      transition: background-color 0.2s ease; }
    .popup__close:before {
      transform: rotate(45deg); }
    .popup__close:after {
      transform: rotate(-45deg); }
    .popup__close:hover:before, .popup__close:hover:after, .popup__close:focus:before, .popup__close:focus:after {
      background-color: #181818; }
  .popup__top {
    text-align: center;
    text-transform: uppercase;
    font-family: "Oranienbaum", serif; }
  .popup__heading {
    font-size: 36px; }
  .popup__subheading {
    font-size: 18px; }
  .popup__elem {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 130px;
    width: 33.33%;
    border-bottom: 1px #ececec solid;
    text-align: center;
    font-family: "Octava", serif;
    font-size: 18px;
    float: left; }
    .popup__elem:nth-last-child(-n+3) {
      border: none; }
    .popup__elem-service {
      margin-bottom: 3px;
      line-height: 1.33;
      font-weight: 700; }
    .popup__elem-cost {
      font-weight: 400;
      font-style: italic; }

/* --- Promo section --- */
.promo {
  height: 575px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #4b4641;
  background-size: cover;
  overflow: hidden; }
  .promo__background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .promo__contacts {
    padding: 10px 16px;
    border: 1px white solid;
    margin: 25px 55px 0 0;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: "Oranienbaum", serif;
    font-weight: 300;
    font-size: 10px;
    float: right; }
    .promo__contacts p:first-child {
      font-size: 12px; }
  .promo__info {
    display: block;
    margin: 50px auto 0; }
  .promo__about {
    padding: 30px 0 40px;
    background-color: #fe7071; }
    .promo__about-text {
      max-width: 630px;
      margin: 0 auto;
      line-height: 1;
      text-align: center;
      font-family: "Octava", serif;
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      color: white; }

/* --- Services section --- */
.services {
  color: #181818; }
  .services__container {
    height: 1080px;
    overflow: hidden; }
    @media screen and (min-width: 1400px) {
      .services__container {
        height: 570px; } }
  .services__elem {
    display: block;
    width: 50%;
    height: 540px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left; }
    @media screen and (min-width: 1400px) {
      .services__elem {
        height: 100%;
        width: 25%; } }
    .services__elem-top {
      position: relative; }
    .services__elem-bg {
      display: block;
      height: 100%;
      width: 100%;
      /* position: absolute;
      top: 0;
      left: 0; */ }
      @media only screen and (max-width: 1000px) {
        .services__elem-bg {
          width: auto; } }
    .services__elem-circle {
      display: block;
      height: 235px;
      width: 235px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: white;
      transform: translate(-50%, -50%);
      z-index: 3; }
    .services__elem-content {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center; }
      .services__elem-content:after {
        content: '';
        display: block;
        height: 25px;
        width: 100px;
        border-top: 1px #181818 solid;
        margin: 8px auto 0;
        background-image: url(../img/elem/services__after.png);
        background-position: center bottom;
        background-repeat: no-repeat; }
    .services__elem-icon {
      height: 33px;
      width: 55px;
      position: relative;
      margin: 0 auto 2px;
      text-align: center; }
    .services__elem-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .services__elem-name {
      font-size: 14px;
      font-variant: small-caps;
      letter-spacing: 1px; }
    .services__elem-type {
      text-transform: uppercase;
      font-size: 26px;
      font-family: "Oranienbaum", serif;
      letter-spacing: 3px; }
    .services__elem-action {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center; }
    .services__elem-btn {
      display: inline-block;
      padding: 10px 22px;
      border: 1px white solid;
      margin: 60px auto 30px;
      text-decoration: none;
      font-family: "Oranienbaum", serif;
      font-weight: 400;
      font-size: 18px;
      color: white; }
      @media screen and (min-width: 1400px) {
        .services__elem-btn {
          margin: 30px auto; } }
      .services__elem-btn:hover, .services__elem-btn:focus {
        color: white; }

/* --- Carousel section --- */
.spin {
  position: relative; }
  .spin__carousel {
    background-color: black; }
    .spin__carousel-item {
      max-height: 480px;
      position: relative; }
    .spin__carousel-img {
      display: block; }
    .spin__carousel-text {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 20px;
      text-align: center;
      font-size: 12px;
      color: white;
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.34) 53%, rgba(0, 0, 0, 0.34) 99%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#57000000',GradientType=0 ); }
    .spin__carousel-arrow {
      display: block;
      height: 110px;
      width: 55px;
      position: absolute;
      top: calc(50% - 55px);
      background-image: url("../img/elem/shop__arrows.png");
      background-repeat: no-repeat;
      z-index: 3; }
      .spin__carousel-arrow--prev {
        left: calc(50% - 310px);
        background-position: center left; }
      .spin__carousel-arrow--next {
        right: calc(50% - 310px);
        background-position: center right; }

/* --- Feedbacks section --- */
.feedbacks {
  padding-top: 55px;
  padding-bottom: 100px;
  color: #181818; }
  .feedbacks__heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Oranienbaum", serif;
    font-size: 36px; }
  .feedbacks__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .feedbacks__elem {
    width: 33.33%;
    padding-left: 50px;
    padding-right: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: sans-serif; }
    .feedbacks__elem-img {
      display: block;
      height: 180px;
      width: 180px;
      border-radius: 50%;
      margin: 0 auto 20px; }
    .feedbacks__elem-name {
      font-size: 20px;
      font-weight: 700; }
    .feedbacks__elem-post {
      margin-bottom: 15px;
      font-size: 17px;
      color: #aeafaf; }
    .feedbacks__elem-text {
      position: relative;
      font-size: 18px;
      font-weight: 300; }
      .feedbacks__elem-text:before {
        content: "\201C";
        position: absolute;
        left: -50px;
        top: -45px;
        font-size: 128px;
        color: #e9e9e9; }

/* --- Contacts section --- */
#contacts__map {
  height: 390px;
  background-color: #f0ede5; }

.contacts__map-baloon p {
  line-height: 1.5;
  font-family: "Octava", serif;
  font-size: 14px;
  color: #181818; }

.contacts__map-baloon b, .contacts__map-baloon strong {
  font-weight: 700; }

.footer {
  padding: 50px 0;
  background-color: #181818;
  text-align: center;
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-size: 30px;
  color: white; }
