// Default styles
body, html {
	color: white;
	font-family: $font;
	font-size: 16px;
	font-weight: $reg;
	line-height: 1.25;
	background-color: #fff;
}

* {
	@include box-sizing(border-box);
}

.clearfix:after,
.center:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.text {
	&--left { text-align: left; }
	&--center { text-align: center; }
	&--right { text-align: right; }
}

.center {
	width: 1000px;
	position: relative;
	padding: 0;
	margin: 0 auto;
}

input {
	outline: none;
}

a {
	color: inherit;
	text-decoration: underline;
	
	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
}

[v-cloak] {
	display: none;
}