/* --- Fonts --- */

// Regular
@font-face {
	font-family: 'Octava';
	font-style: normal;
	font-weight: $reg;
	src: url('../fonts/Octava/Octava-Regular.otf') format('opentype');
}

// Regular Italic
@font-face {
	font-family: 'Octava';
	font-style: italic;
	font-weight: $reg;
	src: url('../fonts/Octava/Octava-Italic.otf') format('opentype');
}

// Bold
@font-face {
	font-family: 'Octava';
	font-style: normal;
	font-weight: $bold;
	src: url('../fonts/Octava/Octava-Bold.otf') format('opentype');
}

// Bold Italic
@font-face {
	font-family: 'Octava';
	font-style: italic;
	font-weight: $bold;
	src: url('../fonts/Octava/Octava-Bold-Italic.otf') format('opentype');
}

// Oranienbaum Regular
@font-face {
	font-family: 'Oranienbaum';
	font-style: normal;
	font-weight: $bold;
	src: url('../fonts/Oranienbaum/Oranienbaum_0.ttf') format('truetype');
}