//- Variables

//- Colors:
$muted: #aeafaf;
$main: #fe7071;
$dark: #181818;

//- Font vars
$font: 'Octava', serif;
$font--second: 'Oranienbaum', serif;
$lig: 300;
$reg: 400;
$bold: 700;

//- Break points
$lg: "only screen and (max-width: 1276px)";
$md: "only screen and (max-width: 992px)";
$sm: "only screen and (max-width: 768px)";
$xs: "only screen and (max-width: 480px)";